/build
/build/**
*.exe
*.o
*.out
*.pdb
*.dSYM
*.a
*.so
*.dylib
*.dll
*.lib
**/test_sqlite_compile.cpp
**/build/
**/CMakeFiles/
**/cmake_install.cmake
**/Makefile
**/*.swp
**/.DS_Store
**/.git
**/.github/
**/.vscode/
**/docs/
**/.vscode/
**/node_modules/
**/.idea/
**/target/
**/build/